
.tiltle{
    background-color: red;
    width: 400px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin:auto;
    margin-top:100px;
}
.content{
    background-color: lightblue;
    width: 400px;
    height: 100px;
    text-align: center;
    margin:auto;
    padding: 10px;
    
}